
body {
  background-image: url("http://datatopics.worldbank.org/what-a-waste/img/v3_waste_disposal_site.jpg");
background-size: 2000px;
}

.grid{
	grid-template-columns: 400px 400px 400px;
	grid-template-rows: 300px 300px 300px;
	display: grid;
	grid-gap: 150px;
Grid-row-start:2;
 grid-row-end:2 ;
   
}
h1{
	 border: black solid 5px;
	 font-size:50px ;
	 font-family:Impact, fantasy ;
	 color: Purple;
	 text-align:center;
}



.item1{
	border: Purple solid 6px;
	front-size: 5px;
  
}

.item2{
	border:Purple solid 6px;
 
}
.item3{
	border: Purple solid 6px;
  
}
.item4{
	border: Purple solid 6px;
	grid-column-start: 3;
  grid-column-end:2;
  
}

div {
  width: 150px;
  padding: 80px;
  margin: 50px;


